<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Spotipy Recommender</title>
  </head>
  <body>
    <h1>Autenticación</h1>

    <form action="" method="POST">
      <input type="text" id="cl_id" name="cl_id" placeholder="Client ID"><br>
      <input type="text" id="cl_secret" name="cl_secret" placeholder="Client Secret"><br>
      <input type="text" id="username" name="username" placeholder="Username"><br>
      <button type="submit" class="btn btn-dark contacto">Generar Playlist...</button>
    </form>

  <!-- Imprimir mensajes -->
  {% for message in get_flashed_messages() %}
    <p>{{ message }}</p>
  {% endfor %}
  </body>
</html>